---
main:
    subworkflows:
        # - 'SGDP-download'
        - 'IGDP-download'
        # - "GATK-map"
        # - "GATK-bqsr"
        # - "GATK-merge"
        # - "alignstats"
        # - "GATK-map-metrics"
        - "GATK-genotype"
        # - "GATK-mutect2"
        # - "shearwater"
        # - "igv_batch"
        # - "rehead_and_split_bam"

path:
    gatk-container: "docker://broadinstitute/gatk:4.1.3.0"
    gatk3-container: "docker://broadinstitute/gatk3:3.8-1"
    bioconductor-container: "docker://quay.io/\
                             biocontainers/bioconductor-deepsnv:\
                             1.28.0--r351hf484d3e_0"
    temp_dir: "/scratch"

    bam_pattern: "{id}/{id}.chr{chromosome}.bam"

    input_dirs:
        - /tigress/AKEY/akey_vol2/serenatu/data/tibet/WGS/chr/
        - "/tigress/AKEY/akey_vol2/serenatu/data/francois/\
           evolbio.ut.ee/PNG_bams2/Ricaut/"
        - "/tigress/AKEY/akey_vol2/serenatu/data/francois/\
           evolbio.ut.ee/PNG_bams2/Vernot/"
        # - "/tigress/AKEY/akey_vol2/serenatu/data/francois/\
        # - "evolbio.ut.ee/PNG_bams2/SGDP/"
        - "/tigress/AKEY/akey_vol2/serenatu/data/francois/\
           evolbio.ut.ee/PNG_bams2/IGDP/"
        - "/tigress/AKEY/akey_vol2/serenatu/data/francois/\
           evolbio.ut.ee/PNG_bams2/Sanger/"

    # directory to hold all result
    data_root: "/projects/AKEY/akey_vol2/serenatu/data/variant.calling"

    # Reference with index files
    ref_genome: "/projects/AKEY/akey_vol1/home/selinav/\
                 References.nobackup/hs37d5.fa"

    reference_bundle: "/projects/AKEY/akey_vol1/home/selinav/\
                       References.nobackup/GATK_reference_bundle_b37"
    ref_hapmap: "__REFERENCE_BUNDLE__/hapmap_3.3.b37.vcf"
    ref_omni: "__REFERENCE_BUNDLE__/1000G_omni2.5.b37.vcf"
    ref_1000g: "__REFERENCE_BUNDLE__/1000G_phase1.snps.high_confidence.b37.vcf"
    ref_indel: "__REFERENCE_BUNDLE__/1000G_phase1.indels.b37.vcf.ga"
    ref_dbsnp: "__REFERENCE_BUNDLE__/dbsnp_138.b37.vcf"
    ref_mills: "__REFERENCE_BUNDLE__/Mills_and_1000G_\
                gold_standard.indels.b37.vcf.gz"

    germline_resource: "/projects/AKEY/akey_vol1/home/selinav/\
                        References.nobackup/GATK_Mutect2_reference_bundle/\
                        af-only-gnomad.raw.sites.b37.vcf.gz"

    common_snps: "/projects/AKEY/akey_vol1/home/selinav/References.nobackup/\
                  GATK_Mutect2_reference_bundle/small_exac_common_3_b37.vcf.gz"


    1000G_dir: "/projects/AKEY/akey_vol1/home/selinav/GTEx/\
                VariantCalling.nobackup/RawVariants/BP_resolution/\
                Supp1kg/Chr{chromosome}"

gatk:
    verbosity: "ERROR"
