---
main:
    subworkflows:
        # - "GATK-map"
        # - "GATK-bqsr"
        # - "alignstats"
        # - "GATK-map-metrics"
        - "GATK-genotype"
        # - "GATK-mutect2"
        # - "shearwater"
        # - "igv_batch"

# center: "nwgc"
# center: "macrogen"
center: "all"

path:
    gatk-container: "docker://broadinstitute/gatk:4.1.0.0"
    gatk3-container: "docker://broadinstitute/gatk3:3.8-1"
    bioconductor-container: "docker://quay.io/\
                             biocontainers/bioconductor-deepsnv:\
                             1.28.0--r351hf484d3e_0"
    temp_dir: "/tmp"

    # directory to hold all results
    data_root: "/projects/AKEY/akey_vol2/GTExSomaticMutations/\
                Results_WGS.nobackup"

    # Reference with index files
    ref_genome: "/projects/AKEY/akey_vol2/References/Genomes/hs37d5/\
                 hs37d5.fa"

    reference_bundle: "/projects/AKEY/akey_vol2/References/\
                       GATK_references/b37_bundle"
    ref_hapmap: "__REFERENCE_BUNDLE__/hapmap_3.3.b37.vcf"
    ref_omni: "__REFERENCE_BUNDLE__/1000G_omni2.5.b37.vcf"
    ref_1000g: "__REFERENCE_BUNDLE__/1000G_phase1.snps.high_confidence.b37.vcf"
    ref_indel: "__REFERENCE_BUNDLE__/1000G_phase1.indels.b37.vcf.gz"
    ref_dbsnp: "__REFERENCE_BUNDLE__/dbsnp_138.b37.vcf"
    ref_mills: "__REFERENCE_BUNDLE__/Mills_and_1000G_\
                gold_standard.indels.b37.vcf.gz"

    germline_resource: "/projects/AKEY/akey_vol2/References/\
                        GATK_references/Mutect2_bundle/\
                        af-only-gnomad.raw.sites.b37.vcf.gz"

    common_snps: "/projects/AKEY/akey_vol2/References/\
                  GATK_references/Mutect2_bundle/\
                  small_exac_common_3_b37.vcf.gz"


    # tabulated data containing information for each sample
    sample_details: "/projects/AKEY/akey_vol2/GTExSomaticMutations/\
                     SampInfo/sample_details_WGS.txt"

    # supplemental files for haplotype calling
    # chrom_intervals: "/projects/AKEY/akey_vol2/GTExSomaticMutations/\
    #                   Enrichment_targets/Union_ByChrom/chr{chromosome}.bed"
    # chrom_intervals: "/projects/AKEY/akey_vol2/GTExSomaticMutations/\
    #                   Enrichment_targets/Macrogen/ByChrom/chr{chromosome}.bed"
    # chrom_intervals: "/projects/AKEY/akey_vol2/GTExSomaticMutations/\
    #                     Enrichment_targets/NWGC/MoreFiles/PrimaryTarget/\
    #                     Unpadded/IntFormat/\
    #                     primary_target_regions_chr{chromosome}.bed"

    1000G_dir: "/projects/AKEY/akey_vol2/References/1000G_raw_variants/\
                Chr{chromosome}"

    recal_bam: "__DATA_ROOT__/bqsr/bams/{id}.bqsr.bam"
    recal_bai: "__DATA_ROOT__/bqsr/bams/{id}.bqsr.bam.bai"
    recal_chroms_bam: "__DATA_ROOT__/bqsr/bams/{id}/\
                       {id}.chr{chromosome}.bqsr.bam"
    recal_chroms_bai: "__DATA_ROOT__/bqsr/bams/{id}/\
                       {id}.chr{chromosome}.bqsr.bam.bai"
    # fastq_input: "/projects/AKEY/akey_vol2/GTExSomaticMutations/\
    #               Fastqs.nobackup/Fastqs_original"
    # fastq_R1: "__FASTQ_INPUT__/{id}_1.fastq.gz"
    fastq_input: "/projects/AKEY/akey_vol2/GTExSomaticMutations\
                  /Fastqs.nobackup/Fastqs_WGS_original"
    fastq_R1: "__FASTQ_INPUT__/{id}_R1.fastq.gz"

gatk:
    verbosity: "ERROR"
